<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="{% block link %}{% endblock %}">

        
        <script src="{% block head_script %}{% endblock %}"></script>
        
        <meta name="description" content="{% block description %}{% endblock %}">

        <meta name="keywords" content="{% block keywords %}{% endblock %}">

        <meta property="og:title" content="{% block meta_title %}{% endblock %}">
        
        <meta property="og:description" content="{% block meta_description %}{% endblock %}">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header>
            <h1>{% block header %}{% endblock %}</h1>
            
            <nav class="home-nav">
                <a class="nav-link {% if request.path == '/' %}selected{% endif %}" aria-label="Home" href="/">Home</a>
                <a class="nav-link {% if request.path == '/timeline' %}selected{% endif %}" aria-label="Timeline" href="/timeline">Timeline</a>
                <a class="nav-link {% if request.path == '/trivia' %}selected{% endif %}" aria-label="Trivia" href="/trivia">Trivia</a>
                <a class="nav-link {% if request.path == '/info' %}selected{% endif %}" aria-label="Information" href="/info">Info</a>
            </nav>
        </header>
        <main class="{% block main_class %}{% endblock %}">
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="attribution">
                Created by David Stockdale.
            </div>
            <div class="social-links">
                <a class="social-link" href="https://github.com/dstock3" target="_blank" rel="noopener noreferrer">
                    <img class="github-icon" src="/static/images/github.svg" alt="github icon"></img>
                </a>
                <a class="social-link" href="https://davestockdale.io/" target="_blank" rel="noopener noreferrer">
                    <img class="code-icon" src="/static/images/code.svg" alt="code icon"></img>
                </a>
            </div>
        </footer>
        <script src="{% block script %}{% endblock %}"></script>
    </body>
</html>