{% extends 'base.html' %}
{% block title %}History of the Space Race{% endblock %}
{% block meta_title %}History of the Space Race{% endblock %}
{% block description %}"Learn about the history of the space race, a period of intense competition between the United States and the Soviet Union to advance in space exploration during the Cold War."{% endblock %}
{% block meta_description %}"Learn about the history of the space race, a period of intense competition between the United States and the Soviet Union to advance in space exploration during the Cold War."{% endblock %}
{% block keywords %}"space race, history, Cold War, United States, Soviet Union, space exploration"{% endblock %}
{% block body_class %}homepage{% endblock %}
{% block main_class %}homepage-container{% endblock %}
{% block header %}History of the Space Race{% endblock %}
{% block content %}
    <div class="slideshow-container">
        <div class="slides fade">
            {% for image in images %}
                <img src="{{ image.url }}" alt="{{ image.alt }}">
            {% endfor %}
        </div>
    </div>

    <div class="img-selector">
        <div class="back"><</div>
        <div class="forward">></div>
    </div>

    <div class="space-info-container">
        <p class="space-info">The space race was a period of intense competition between the United States and the Soviet Union to advance in space exploration during the Cold War. It began in the 1950s and ended in the 1970s, although space exploration and competition between various countries and organizations has continued in the years since.</p>
        <p class="space-info">There have been numerous manned and unmanned missions to other planets and celestial bodies, as well as the development of various space-based technologies and the establishment of international cooperation in space exploration.</p>
    </div>
{% endblock %}
{% block script %}/static/js/home.js{% endblock %}