<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Space Race</title>
    </head>
    <body class="homepage">
        <h1>Welcome to the Space Race</h1>
        <nav class="home-nav">
            <a class="nav-link {% if request.path == '/' %}selected{% endif %}" href="/">Home</a>
            <a class="nav-link {% if request.path == '/missions' %}selected{% endif %}" href="/missions">Mission List</a>
            <a class="nav-link {% if request.path == '/timeline' %}selected{% endif %}" href="/timeline">Timeline</a>
            <a class="nav-link {% if request.path == '/trivia' %}selected{% endif %}" href="/trivia">Triva Quiz</a>
        </nav>
        <main class="space-info-container">
            <p class="space-info">This app provides information about the space race, a competition between the United States and the Soviet Union to explore and advance in space during the Cold War.</p>
            <p class="space-info">The space race was a period of intense competition between the United States and the Soviet Union to advance in space exploration during the Cold War. It began in the 1950s and ended in the 1970s, although space exploration and competition between various countries and organizations has continued in the years since.</p>
            <p class="space-info">There have been numerous manned and unmanned missions to other planets and celestial bodies, as well as the development of various space-based technologies and the establishment of international cooperation in space exploration.</p>
        </div>
    </body>
</html>