{% extends 'base.html' %}
{% block title %}Important Links{% endblock %}
{% block meta_title %}Important Links{% endblock %}
{% block link %}{{ url_for('static', filename='css/info.css') }}{% endblock %}
{% block description %}"Learn about the history of the space race, a period of intense competition between the United States and the Soviet Union to advance in space exploration during the Cold War."{% endblock %}
{% block meta_description %}"Learn about the history of the space race, a period of intense competition between the United States and the Soviet Union to advance in space exploration during the Cold War."{% endblock %}
{% block keywords %}"space race, history, Cold War, United States, Soviet Union, space exploration"{% endblock %}
{% block body_class %}info{% endblock %}
{% block main_class %}info-container{% endblock %}
{% block header %}History of the Space Race{% endblock %}
{% block content %}
    <h2 class="info-head">Important Links</h2>
    <ul class="info-list">
        {% for info_data in info %}
            <li class="info-item">
                <a class="info-link" href={{ info_data.href }} target="_blank" rel="noopener noreferrer">{{ info_data.desc }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}