<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <title>{{ mission.name }}</title>
    </head>
    <body>
        <header>
            <h1>Welcome to the Space Race</h1>
            <nav class="home-nav">
                <a class="nav-link {% if request.path == '/' %}selected{% endif %}" href="/">Home</a>
                <a class="nav-link {% if request.path == '/missions' %}selected{% endif %}" href="/missions">Mission List</a>
                <a class="nav-link {% if request.path == '/timeline' %}selected{% endif %}" href="/timeline">Timeline</a>
                <a class="nav-link {% if request.path == '/trivia' %}selected{% endif %}" href="/trivia">Triva Quiz</a>
            </nav>
        </header>
        <main class="mission-detail-container">
            <h1 class="mission-head">{{ mission.name }}</h1>
            <p class="launch-date">Launch Date: {{ mission.launch_date }}</p>
            <p class="mission-description">{{ mission.description }}</p>
        </main>
        <footer>
            <div className="attribution">
                Created by David Stockdale.
            </div>
            <div className="social-links">
                <a className="social-link" href="https://github.com/dstock3" target="_blank" rel="noopener noreferrer">
                    Github
                    <!-- 
                    <img className="github-icon" src={githubIcon} alt="github icon"></img>
                    -->
                </a>
                <a className="social-link" href="https://davestockdale.io/" target="_blank" rel="noopener noreferrer">
                    Portfolio
                    <!-- 
                    <img className="code-icon" src={codeIcon} alt="code icon"></img>
                    -->
                </a>
            </div>
        </footer>
    </body>
</html>