{% extends 'base.html' %}
{% block title %}{{ mission.name }}{% endblock %}
{% block meta_title %}{{ mission.name }}{% endblock %}
{% block description %}{{ mission.meta }}{% endblock %}
{% block meta_description %}{{ mission.meta }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block body_class %}mission-detail{% endblock %}
{% block main_class %}mission-detail-container{% endblock %}
{% block header %}History of the Space Race{% endblock %}
{% block content %}
    <div class="mission-pic-container">
        <img src="{{ url_for('static', filename='images/' + image) }}" alt="{{ mission.meta }}">
    </div>
    <p class="mission-era">Era: {{ mission.era }}</p>
    <p class="launch-date">Launch Date: {{ mission.launch_date }}</p>
    <p class="mission-description">{{ mission.description }}</p>
    <div class="mission-link-container">
        {% if mission.id != 1 %}
            <a class="mission-link" href="/mission/{{ mission.id - 1 }}"><< Previous Mission</a>
        {% endif %}
        {% if mission.id != total_missions %}
            <a class="mission-link" href="/mission/{{ mission.id + 1 }}">Next Mission >></a>
        {% endif %}
    </div>
{% endblock %}
{% block script %}/static/js/missionDetail.js{% endblock %}