{% extends 'base.html' %}
{% block title %}Space Race Timeline{% endblock %}
{% block meta_title %}Space Race Timeline{% endblock %}
{% block link %}/static/css/timeline.css{% endblock %}
{% block description %}"Explore the history of the space race through the timeline of significant events and missions from the 1950s to the 1970s. Follow the competition between the United States and the Soviet Union as they advanced in space exploration during the Cold War."{% endblock %}
{% block meta_description %}"Explore the history of the space race through the timeline of significant events and missions from the 1950s to the 1970s. Follow the competition between the United States and the Soviet Union as they advanced in space exploration during the Cold War."{% endblock %}
{% block keywords %}"space race, history, Cold War, United States, Soviet Union, space exploration, space race timeline"{% endblock %}
{% block body_class %}timeline{% endblock %}
{% block main_class %}timeline-container{% endblock %}
{% block header %}Space Race Timeline{% endblock %}
{% block content %}
    <ul class="timeline-list">
        {% for mission in missions|sort(attribute='launch_date') %}
            <li class="timeline-item-container">
                <div class="timeline-item" style="background-image: url({{ mission.image }});">
                    <a class="mission-link" href="/mission/{{ mission.id }}">{{ mission.name }}</a>
                    <p class="launch-date">{{ mission.launch_date }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block script %}/static/js/timeline.js{% endblock %}