{% extends 'base.html' %}
{% block title %}Space Race Trivia Quiz{% endblock %}
{% block meta_title %}Space Race Trivia Quiz{% endblock %}
{% block link %}/static/css/trivia.css{% endblock %}
{% block description %}Test your knowledge of the space race with our trivia quiz. Learn about the history of the space race, a period of intense competition between the United States and the Soviet Union to advance in space exploration during the Cold War.{% endblock %}
{% block meta_description %}Test your knowledge of the space race with our trivia quiz. Learn about the history of the space race, a period of intense competition between the United States and the Soviet Union to advance in space exploration during the Cold War.{% endblock %}
{% block keywords %}space race, history, Cold War, United States, Soviet Union, space exploration, space race trivia{% endblock %}
{% block body_class %}trivia{% endblock %}
{% block main_class %}trivia-container{% endblock %}
{% block header %}Space Race Trivia Quiz{% endblock %}
{% block content %}
    <form class="trivia-form" method="post">
        {% for question in questions %}
        <div class="trivia-question" id="{{ question.id }}" data-next="{{ question.id + 1 }}">
            <p class="question-prompt">{{ question.question }}</p>
            <ul class="trivia-options">
                {% for option in question.options %}
                <li class="trivia-option"><input class="trivia-option-input" type="radio" name="{{ question.question }}" value="{{ option }}">{{ option }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <button type="submit"></button>
    </form>
{% endblock %}
{% block script %}/static/js/trivia.js"{% endblock %}